
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card" style="background-color: rgba(255, 255, 255, 0.2);">
<div class="row">
<div class="col-lg-12">
<h1 class="text-center">Welcome to Maiden Hotels & Resorts</h1>
</div>
</div>

<div class="carousel slide" data-ride="carousel" id="postsCarousel">
    <div class="container">
        <div class="row">
            <div class="col-12 text-right mb-4">
                <a type="button" class="carousel-control-prev" data-slide="prev" href="#postsCarousel" title="go back">PREVIOUS</a>
                <a type="button" class="carousel-control-next" data-slide="next" href="#postsCarousel" title="more">NEXT</a>
            </div>
        </div>
    </div>

    <div class="container p-t-0 m-t-2 carousel-inner">
        <div class="row row-equal carousel-item active m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/hotel1.jpg" alt="Carousel 1">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                            <h3>The Trooper Hotel</h3>
                        </div>
                        <div class="card-text">Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area , a real luxury in a city like Nice.
                                At The Trooper you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Azzurra’s mild climate.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-equal carousel-item m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/hotel2.jpg" alt="Carousel 2">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                            <h3>Aces High Hotel</h3>
                        </div>
                        <div class="card-text">Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area , a real luxury in a city like Nice.
                                At Aces High you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Azzurra’s mild climate.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-equal carousel-item m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/hotel3.jpg" alt="Carousel 2">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                            <h3>Powerslave Hotel</h3>
                        </div>
                        <div class="card-text">Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area , a real luxury in a city like Nice.
                                At Powerslave you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Azzurra’s mild climate.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-equal carousel-item m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/resort1.jpg" alt="Carousel 2">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                            <h3>Run To The Hills Resort</h3>
                        </div>
                        <div class="card-text">Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area , a real luxury in a city like Nice.
                                At Run To The Hills Resort you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Azzurra’s mild climate.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-equal carousel-item m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/resort2.jpg" alt="Carousel 2">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                            <h3>The Number Of The Beast Resort</h3>
                        </div>
                        <div class="card-text">Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area , a real luxury in a city like Nice.
                                At The Number Of The Beast Resort you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Azzurra’s mild climate.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-equal carousel-item m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/resort3.jpg" alt="Carousel 2">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                            <h3>The Piece of Mind Resort</h3>
                        </div>
                        <div class="card-text">Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area , a real luxury in a city like Nice.
                                At The Piece of Mind Resort you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Azzurra’s mild climate.
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center" >Have you seen our brand new hostels?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><div class="col-lg-12">
            <div class="card">
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid w-100" src="../../assets/img/hostel3.png" alt="Carousel 2">
                </div>
                <div class="card-block p-t-2">
                    <div class="card-header">
                        <h3>Fear of the Dark Hostel</h3>
                    </div>
                    <div class="card-text">Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area , a real luxury in a city like Nice.
                            At Fear of the Dark Hostel you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Azzurra’s mild climate.
                    </div>
                </div>
            </div>
        </div></div>
        <div class="col-sm-4"><div class="col-lg-12">
            <div class="card">
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid w-100" src="../../assets/img/hostel1.jpg" alt="Carousel 2">
                </div>
                <div class="card-block p-t-2">
                    <div class="card-header">
                        <h3>Live After Death Hostel</h3>
                    </div>
                    <div class="card-text">Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area , a real luxury in a city like Nice.
                            At Live After Death Hostel you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Azzurra’s mild climate.
                    </div>
                </div>
            </div>
        </div></div>
        <div class="col-sm-4"><div class="col-lg-12">
            <div class="card">
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid w-100" src="../../assets/img/hostel2.jpg" alt="Carousel 2">
                </div>
                <div class="card-block p-t-2">
                    <div class="card-header">
                        <h3>Killers Hostel</h3>
                    </div>
                    <div class="card-text">Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area , a real luxury in a city like Nice.
                            At Killers Hostel you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Azzurra’s mild climate.
                    </div>
                </div>
            </div>
        </div></div>
      </div>

</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>


