<div class="card" style="background-color: rgba(255, 255, 255, 0.2);">
<h2 class="text-uppercase">List of Services</h2>
<p>Services are listed below. As an operator you can add, edit or delete new services.</p>
<hr>
<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-info text-center mr-1 col-2 float-right" data-toggle="modal" data-target="#new_serviceModal">Create New Service</button>            
        <button type="button" class="btn btn-success text-center mr-1 col-2 float-right" (click) = "fetchServices();">Refresh List</button>
        </div>
</div>
<hr>
<!-- Modal Insert-->
<div class="modal fade" id="new_serviceModal" tabindex="2" role="dialog" aria-labelledby="new_serviceModalLabel" aria-hidden="true" >
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup] = "insertForm" (ngSubmit)="onCreateService()">
    <div class="modal-header">
        <h5 class="modal-title" id="new_serviceModalLabel" >Create New Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="serviceName">Service Name:</label>
        <input type="text" class="form-control" id="insert_serviceName"  formControlName="serviceName" name="serviceName">
        <span *ngIf="!insertForm.get('serviceName').valid && insertForm.get('serviceName').touched"
          class="help-block alert-warning">Please enter a valid name!</span>
      </div>
      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="!insertForm.valid" onclick="$('#new_serviceModal').modal('hide')">Create Service</button>
    </div>
    </form>
    </div>
</div>
</div>  

<!-- Modal Edit-->
<div class="modal fade" id="edit_serviceModal" tabindex="3" role="dialog" aria-labelledby="edit_serviceModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <form [formGroup] = "editForm" (ngSubmit)="onUpdateService()">
      <div class="modal-header">
          <h5 class="modal-title" id="edit_serviceModalLabel">Edit Existing Service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <input type="hidden" class="form-control"  formControlName="serviceId" name="serviceId" value=""/>
          </div>
          <div class="form-group">
            <label for="edit_serviceName">Service Name:</label>
            <input type="text" class="form-control" id="edit_serviceName" formControlName="serviceName"  name="serviceName">
            <span *ngIf="!editForm.get('serviceName').valid && editForm.get('serviceName').touched"
            class="help-block alert-warning">Please enter a valid name!</span>
          </div>
        </div> 
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid" onclick="$('#edit_serviceModal').modal('hide')">Edit service</button>
      </div>
      </form>
      </div>
  </div>
</div>  

<!-- Modal Delete-->
<div class="modal fade" id="delete_serviceModal" tabindex="3" role="dialog" aria-labelledby="delete_serviceModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <form [formGroup] = "deleteForm" (ngSubmit)="onDeleteService()">
      <div class="modal-header">
          <h5 class="modal-title" id="delete_serviceModalLabel">Delete service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <input type="hidden" class="form-control"  formControlName="serviceId" name="serviceId" value=""/>
              <div class="alert alert-warning">
                  <strong>Warning!</strong> You are about to delete a service. Are you sure?
                </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger" onclick="$('#delete_serviceModal').modal('hide')">Delete Service</button>
      </div>
      </form>
      </div>
  </div>
</div>  
<div *ngIf="services.length < 1 && !isFetching" class="alert alert-warning">
  <strong>No services found!</strong> Add new services using the Create button
</div>
<div *ngIf="isFetching && !error" class="alert alert-info">
  <strong>Loading...</strong>
</div>
<div *ngIf="error" class="alert alert-danger">
  <h3>Error occurred using the webservices!</h3>
  <strong>{{ error }}</strong><br>
  Please contact the coding monkeys.
  
</div>
<div *ngIf="success" class="alert alert-success">
    <h3>Success! </h3>
    <strong>{{ success }}</strong>
    
</div>
<table class="table table-striped" *ngIf="services.length >= 1">
  <thead>
    <tr>
      <th>Service ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services; index as i;">
      <td>{{service.id}}</td>
      <td>{{service.name}}</td>
      <td>
          <button class="btn btn-info mb-2 mr-2 col-4 btn-block" data-toggle="modal" data-target="#edit_serviceModal" (click)="populateEditForm(i)" >Edit</button>
          <button class="btn btn-danger mb-2 mr-2 col-4 btn-block" data-toggle="modal" data-target="#delete_serviceModal" (click)="populateDeleteForm(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>


